.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: rgb(0, 0, 0);
	background-image: url("bentley.jpeg");
	background-size: cover;
	text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}



.MainBox {
	min-height: 60vh;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	font-size: calc(5px + 1vmin);
	color:rgb(255, 255, 255);
}

.MenuButton {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.TopMenu {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.Spacer {
	margin-top: 10px;
	height: 20px;
	width: calc(100% - 200px);
}

.SpacerBottom {
	height: 13vh;
}

.InfoBox{
	text-align: right;
	margin-right: 50px;
}

.bigger { font-size:200%; }