.MainBox {
	background-color: #282c34;
	min-height: 90vh;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	font-size: calc(5px + 1vmin);
	color: white;
}

.UploadButton {
	width: 200px;
}

.TopMenu {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.BackButton {
	margin-right: 30px;
	margin-top: 10px;
}

.Spacer {
	width: calc(100% - 300px);
}